.chat-main
  .chat-main__group-info
    .group-name-main
      .group-name-main__text
        = @group.name
      .group-name-main__member
        Member:
        - @members.each do |member|
          = member.name
    .edit-btn
      = link_to edit_group_path(@group), class:'edit' do
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .input-message
        = f.text_field :text, class: 'input-message__text', placeholder: 'type a message' 
        = f.label :image, class: 'input-message__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'image-form'
        = f.submit 'Send', class: 'submit-btn'